#overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: black;
  color: white;
  z-index: 9999;
}

#overlay h1 {
  margin: 0;
  padding: 0 20px;
  font-size: 20px;
}
